<!DOCTYPE html>
<html>
<head>
  <title>Payloader</title>
  <%= stylesheet_link_tag    "payloader/application", media: "all" %>
  <%= javascript_include_tag "payloader/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
